.features {
}

.features-item-image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  fill: currentColor;
  background-color: #f4f4fd;
}

.features-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}

.features-text {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .features-title {
    text-align: center;
  }
}

/* ==================================================================
    2. TABLET
   ================================================================== */
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (max-width: 1157px) {
  .features-item-image-overlay {
    display: none;
  }
}

/* ==================================================================
    3. DESKTOP
   ================================================================== */
@media screen and (min-width: 1158px) {
  .features-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .features-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    color: #2e2f42;
  }
}
