.header {
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.site-nav {
  margin-right: auto;
}

.site-nav-list {
  display: flex;
  gap: 40px;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  color: #2e2f42;
}

.site-nav-link:hover,
.site-nav-link:focus,
.address-item-link:hover,
.address-item-link:focus {
  color: #404bbf;
}

.site-nav-link.active {
  color: #404bbf;
}

.site-nav-link.active.site-nav-link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: #404bbf;
}

.address-list {
  display: flex;
  gap: 40px;

  font-style: normal;
}

.address-item-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
