.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: relative;
  width: 408px;
  max-height: 80%;
  padding: 72px 24px 24px;
  overflow: auto;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  line-height: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 50%;
  background-color: #e7e9fc;

  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: #ffffff;
  border-color: transparent;
  background-color: #404bbf;
}

.modal-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-input-wrapper {
  margin-bottom: 8px;
}

.modal-form-input {
  padding: 11px 11px 11px 38px;
  color: #2e2f42;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.form-input-label-textarea {
  display: block;
  margin-bottom: 4px;
}

.modal-form-textarea {
  margin-bottom: 16px;
  color: #2e2f42;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-input-label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.form-checkbox-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .form-checkbox-custom {
  fill: #f4f4fd;
  border-color: transparent;
  background-color: #404bbf;
}

.modal-form-checkbox:focus + .form-checkbox-custom {
  border-color: #4d5ae5;
}

.form-input-label-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-form-button {
  margin: 0 auto;
  padding: 16px 65px;
  width: 169px;
  height: 56px;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
